<div align="center">
    <p>
    <h1><span class="glyphicon glyphicon-education"></span> Education:</h1></p>
    <p>
    <h2>Masters</h2>


    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4>Master of Science(M.Sc.), Petroleum Geology</h4>
    </p>
    <p>
    <h2>Bachelor</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4>Bachelor of Science(B.Sc.), Geology/Earth Science</h4>
    </p>
    <p>
    <h2>Diploma</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4> Diploma, Kathak</h4>
    </p>
    <p>
    <h2>Diploma</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4> Diploma, Bharatanatyam</h4>
    </p>
</div>
<div align="center" id="project"></div>

<div align="center">
    <a href="https://github.com/jainishshah17/jainishshah.com/raw/master/assets/documents/Jainish-Resume.pdf"><h2><span class="glyphicon glyphicon-download"></span>Download Resume</h2></a>
</div>
<div align="center" class="container">
    <p>
    <h1>Work Experience</h1>
    </p>
    <p>
    <h2>Kendriya Vidhyalaya, Vadodara, India</h2>
    <ul class="list-group text-left">
        <li class="list-group-item">Training and developing pupils in dance.</li>
        <li class="list-group-item">Training and developing pupils in dance.</li>
        <li class="list-group-item">Planning and delivering dance lessons.</li>
        <li class="list-group-item">Choreographing full routines to a high standard for beginners right through to advanced students.</li>
        <li class="list-group-item">Delivering enjoyable, structured and well-planned dance activities.</li>
        <li class="list-group-item">Explaining and demonstrating dance techniques and methods.</li>
        <li class="list-group-item">Teaching the history of dance.</li>
        <li class="list-group-item">Choreographing and directing dance performances.</li>
        <li class="list-group-item">Controlling groups of pupils and when required disciplining them.</li>
        <li class="list-group-item">Teaching dance as a form of recreation.</li>
        <li class="list-group-item">Showing pupils how to rehearse and exercise.</li>
        <li class="list-group-item">Monitoring a pupils progress.</li>
        <li class="list-group-item">Performing numerous dance routines throughout the day.</li>
        <li class="list-group-item">Abiding by all local regulations as well as safety protocols.</li>
        <li class="list-group-item">Building relationships with pupils.</li>
    </ul>
    </p>

</div>


