<div align="center">
    <p>
    <h1><span class="glyphicon glyphicon-education"></span> Education:</h1></p>
    <p>
    <h2>Masters</h2>


    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4>Master of Science(M.Sc.), Petroleum Geology</h4>
    </p>
    <p>
    <h2>Bachelor</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4>Bachelor of Science(B.Sc.), Geology/Earth Science</h4>
    </p>
    <p>
    <h2>Diploma</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4> Diploma, Kathak</h4>
    </p>
    <p>
    <h2>Diploma</h2>
    <h4>The Maharaja Sayajirao University of Baroda, Gujarat, India</h4>
    <h4> Diploma, Bharatanatyam</h4>
    </p>
</div>
<div align="center" id="project"></div>

<div align="center">
    <a href="https://github.com/jainishshah17/jainishshah.com/raw/master/assets/documents/Jainish-Resume.pdf"><h2><span class="glyphicon glyphicon-download"></span>Download Resume</h2></a>
</div>
<div align="center" class="container">
    <p>
    <h1>Work Experience</h1>
    </p>
    <p>
    <h2>Zephyr</h2>
    <ul class="list-group text-left">
        <li class="list-group-item">Responsible for developing Tools and Script for DevOps.</li>
        <li class="list-group-item">Build and release management by setting up Bamboo for CI/CD.</li>
        <li class="list-group-item">Development of Virtual Environment for Production and QA using Docker.</li>
        <li class="list-group-item">Auto builds Configuration using Grunt Script and NPM dependencies.</li>
        <li class="list-group-item">Used Test-Driven Development with SCRUM Agile methodology.</li>
        <li class="list-group-item">Implemented Zabbix-based monitoring for the whole corporate heterogeneous IT
            infrastructure (Unix, Linux, Windows servers / Databases).
        </li>
        <li class="list-group-item">Implemented centralized log processing using LogStash, Kibana and Elasticsearch.
        </li>
        <li class="list-group-item">Monitored developed applications and fixed bugs.</li>
        <li class="list-group-item">Worked on setting and monitoring Cluster of RIAK, Elasticsearch, Hazelcast.</li>
    </ul>
    </p>

</div>
