<div class="col-md-5">
    <img src="assets/images/my.jpg" class="img-responsive img-thumbnail center-block">
</div>
<div class="col-md-6 background">
    <div class="transbox">
        <p>
            My name is Pratiksha Pandit. I'm a Dancer & Geologist.<br>
        </p>
        <p>
            My education has provided me with a variety of information systems knowledge and practical skills; primarily
            in field of geology.
            I have Diploma Degree in Kathak & Bharatnatyam.
        </p>
        <p>
            My work experience of working as Dance Instructor in Kendriya Vidhyalaya, Vadodara, India provided me good
            command over teaching dance to students of different age group from beginner level to expert level.
            I have experience in teaching dance forms like Kathak, Bharatnatyam, Bollywood and FreeStyle.<br>
        </p>
        <p>
            Right now I am looking for a suitable position with an organisation that wants to recruit a professional who
            can consistently deliver high levels of dance teaching.
        </p>
        <p>
    </div>
</div>


